.font{
    font-family: 'Bebas Neue', cursive;
}
.man{
    width: 20%;
}
.nav1{
    font-size: 30px;
    font-weight: 700;
}
.logosize{
    width: 50%;
    height: 50%;
}
#tag{
    font-size: 80px;
    font-weight: 700;
}
.card1 img{
    width: 60%;
    height: 80%;
}
.back{
    background-color: rgb(226, 221, 221);
    margin: 10px;
    border-radius: 10px;
}

.cart{
    color: white;
}

.cart img{
    width: 30%;
}

.cartcolor{
    background-color: rgb(52, 52, 189);
}
.l1{
    margin: auto;
    font-size: 18px;
}

.item{
    list-style-type: none;
}
.tags{
    font-size: 50px;
    font-weight: 700;
    color: rgb(52, 52, 158);
    font-family: 'Bebas Neue', cursive;
}